
@charset "utf-8";

* {
    font-family: "Noto Sans JP", sans-serif;
    margin: 0;
    padding: 0;
    color: #eee;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
    user-select: none;
    cursor: default;
    text-align: center;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: url("./assets/bg.jpg") no-repeat center;
    background-size: cover;
    background-color: #333;
    overflow: hidden;
}
body::-webkit-scrollbar{
    display:none;
}

input {
    display: none;
}

.glass {
    background: rgba(125, 125, 125, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

.main {
    margin: 0;
    padding: 20px;
    width: 100%;
    height: 100%;
}
.main::before {
    content: '';
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: -1;
}

#num {
    font-family: "Roboto", sans-serif;
    text-align: right;
}

.tango {
    height: 150px;
    margin-top: 30%;
}

#hng {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 90px;
    border-bottom: solid #eee 1px;
    margin: 0 10px;
}
#jpn {
    line-height: 60px;
    font-weight: 400;
}

.btn {
    display: flex;
}

.btn > div {
    width: 50%;
    text-align: center;
    line-height: 80px;
}


/* menu --------------------------------*/

.menu {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content:space-between;
}
.menu > label {
    width: 60px;
    padding: .4em 0;
}


#sound + label::before {
    font-family: 'FontAwesome';
    content: '\f6a9';
    color: #eee;
}
#sound:checked + label::before {
    content: '\f028';
}
#sound:checked + label {
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
}

.box {
    width: 100%;
    height: 200px;
    position: fixed;
    left: 0;
    bottom: -100vw;
    padding: 10px;
    transition: 0.5s cubic-bezier(.38,.52,.23,.99);
    -webkit-transition: 0.5s cubic-bezier(.38,.52,.23,.99);
    display: block;
}

#select > label {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 20px;
    margin: 4px;
}

#select > input:checked + label {
    background: rgba(125, 125, 125, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}

#ep {
    margin-top: 40px;
    padding: .5em;
    background-color: rgba(0, 0, 0, 0.5);
}


.back {
    margin: 14px 0;
}

.back > * {
    display: inline-block;
    border: none;
    outline: none;
    appearance: none;
    font: inherit;
    color: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
}

#change {
    display: none;
}
#change + label {
    margin-right: 4px;
    padding: 0 2em;
    cursor: pointer;
}

#clear {
    width: 40px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

.box p {
    text-align: left;
    font-size: 12px;
    margin: .3em;
}

#setting:checked + label + .box,
#list:checked + label + .box {
    transform: translateY(-100vw);
    -webkit-transform: translateY(-100vw);
}
#setting + label,
#list + label {
    transition: 0.5s cubic-bezier(.61,-0.38,.37,1.27);
}

#setting:checked + label,
#list:checked + label {
    transform: translateY(-200px);
    -webkit-transform: translateY(-200px);
}


@media (min-width: 1030px) {

    body {
        display: flex;
        padding: 20px;
    }

    .main {
        width: 60%;
    }

    .menu {
        width: 40%;
        position: static;
        display: block;
        margin: 20px;
    }

    .menu > label {
        display: block;
        width: 100%;
        padding: 1em 0;
    }
    
    #sound:checked + label {
        animation: none;
    }
        
    #sound + label {
        background: rgba(125, 125, 125, 0.2);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);    
    }

    .box {
        width: 100%;
        height: 200px;
        position: static;
        padding: 10px;
        margin-top: 20px;
    }
    
    #setting:checked + label + .box,
    #list:checked + label + .box {
        transform: none;
    }

    #setting + label,
    #list + label {
        transform: none;
        display: none;
    }
    
    #setting:checked + label,
    #list:checked + label {
        transform: none;
    }
    
}


/* ----------------------------------------------
 * Generated by Animista on 2024-7-6 8:52:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
                transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
                transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
                transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
                transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
                transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
}
@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
                transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
                transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
                transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
                transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
                transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
}

